<form action="/" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="number" min="1" max="5" name="rating" id="rating">
    </div>
    <div>
        <label for="category">Category</label>
        <input type="text" name="category" id="category">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10">
        </textarea>
    </div>
    <div>
        <label for="imgLink">Image Link</label>
        <input type="text" name="imgLink" id="imgLink">
    </div>
    <input type="submit" value="Submit">
</form>