<form action="/" METHOD="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>

    <div>
        <label for="rating">Rating</label>
        <input type="number" name="rating" id="rating" min="1" max="5">
    </div>

    <div>
        <label for="category">Category</label>
        <input type="text" name="catory" id="category">
    </div>
    
    <div>
        <label for="description">Description</label>
        <textarea name="category" id="description" cols="30" rows="10"></textarea>

    </div>

    <div>
        <label for="imgLink">Image Link</label>
        <input type="text" name="imgLink" id="imgLink">
    </div>
    <input type="submit" value="Submit">
</form>