<div class="container">
    <h2 class="text-center">{{shop.name}}</h2>
    <div class="text-center">
        <img class="shop-img-banner" src={{shop.imgLink}} alt="">
    </div>
    <div class="text-center">
        <a class="action-btn btn btn-info" href="/{{shop.id}}/edit">EDIT</a>
        <a href="" class="action-btn btn btn-danger">DELETE</a>
    </div>
    <p>{{shop.description}}</p>
    </div>
</div>